.signupPage {
    --background: transparent linear-gradient(180deg, cyan 0%, yellow 100%) 0%
        0% no-repeat padding-box;
}

.ionGridSignup {
    width: 100%;
    height: 100%;
}

.ionButtonPadding {
    padding-top: 7.5vh;
}

.logo {
    width: 100%;
    height: 15vh;
}

.ionTexxt {
    font: normal normal 300 45px/45px "Avenir-Medium";
    letter-spacing: 0px;
    color: var(--blurry-dark);
    text-align: center;
    opacity: 1;
    font-size: 7vh;
}
